<DocsViewer as |viewer|>

  <viewer.nav as |nav|>
    {{nav.section "Introduction"}}
    {{nav.item "Introduction" "docs.index"}}
    {{nav.item "Usage" "docs.usage"}}
    {{nav.item "Quickstart" "docs.quickstart"}}

    {{nav.section "Components"}}
    {{nav.item "Model Select" "docs.components.model-select"}}
    {{nav.item "Multiple Select" "docs.components.model-select-multiple"}}
  </viewer.nav>

  <viewer.main>
    <div class="docs-container">
      <div class="docs-section">
        {{outlet}}
      </div>
    </div>
  </viewer.main>

</DocsViewer>